@model IEnumerable<CalorieCore.DataModels.Meal>

<div class="container mt-4">
    <h2>Meals🍽</h2>

    <p>
        <a asp-action="Create" class="btn btn-dark">Log Meal</a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Meal</th>
                <th>Calories</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in Model)
            {
                <tr>
                    <td>@meal.Name</td>
                    <td>@meal.Calories kcal</td>
                    <td>@meal.Date.ToShortDateString()</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@meal.Id" class="btn btn-outline-secondary btn-sm">
                            Edit
                        </a>
                        <a asp-action="Delete" asp-route-id="@meal.Id" class="btn btn-outline-danger btn-sm">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

